In [47]:
import requests
import pandas as pd
import json

dataset = pd.read_json('src/get_around_test.json')
dataset = dataset.reset_index().drop(columns=['index'])
dataset.head()

,model_key,mileage,engine_power,fuel,paint_color,car_type,private_parking_available,has_gps,has_air_conditioning,automatic_car,has_getaround_connect,has_speed_regulator,winter_tires
0,Citroën,145805,120,diesel,brown,sedan,False,False,False,False,False,False,False
1,Peugeot,144561,135,diesel,blue,hatchback,True,True,False,False,False,False,True
2,Nissan,55307,105,diesel,blue,suv,False,False,False,False,False,False,False
3,Renault,156841,120,diesel,brown,sedan,True,True,False,False,False,False,True
4,Audi,154184,135,diesel,grey,hatchback,False,True,False,False,True,True,True

## Adress URL

In [48]:
base_URL = 'https://getaroundapi220930112848.herokuapp.com'

## Test Request Get

In [49]:
sub_link = '/get_predict/'
model_key = dataset['model_key'][0]
query = dataset.drop(columns='model_key').iloc[0].to_dict()

url = ''.join((base_URL, sub_link, model_key))

r = requests.get(url, params= query )

print(f'Requests status_code : {r.status_code}')
print(f'Requests content : {r.content.decode("utf-8")}')

Requests status_code : 200
Requests content : {"prediction":[115]}

## Test Request Post

In [50]:
sub_link = '/predict/'
query = dataset.iloc[0].to_dict()

url = ''.join((base_URL, sub_link))

r = requests.post(url, json = query)

print(f'Requests status_code : {r.status_code}')
print(f'Requests content : {r.content.decode("utf-8")}')

Requests status_code : 200
Requests content : {"prediction":[115]}

## Test Request Post with Json

In [55]:
sub_link = '/predict_json/'
url = ''.join((base_URL, sub_link))

# Opening the file
f = {'file': open('src/get_around_test.json', 'rb')}

r = requests.post(url, files=f)

print(f'Requests status_code : {r.status_code}')
print(f'Requests content : {r.content.decode("utf-8")}')

Requests status_code : 200
Requests content : {"prediction":[115,111,114,120,127,124,111,101,84,145,122,113,109,110,168,115,106,128,108,124]}