In [1]:
import pandas as pd

dataset = pd.read_csv('get_around_pricing_project_clean.csv')

,model_key,mileage,engine_power,fuel,paint_color,car_type,private_parking_available,has_gps,has_air_conditioning,automatic_car,has_getaround_connect,has_speed_regulator,winter_tires,rental_price_per_day
0,Citroën,227832,120,diesel,black,estate,True,False,False,False,False,False,True,73
1,Peugeot,108245,100,diesel,brown,estate,True,True,True,False,False,False,True,108
2,Renault,221018,135,diesel,black,estate,True,True,False,True,True,False,True,128
3,Peugeot,101658,100,diesel,grey,estate,False,True,False,False,False,False,True,107
4,Citroën,163181,120,diesel,grey,estate,False,False,False,False,False,False,True,91
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4138,Toyota,125197,230,diesel,blue,suv,True,True,True,True,True,True,True,207
4139,BMW,194966,110,diesel,grey,suv,False,True,True,True,True,False,True,69
4140,Mitsubishi,111962,190,diesel,black,suv,True,True,False,False,True,False,True,163
4141,Mitsubishi,122949,190,diesel,brown,suv,True,True,True,True,False,True,True,194
4142,BMW,44487,110,diesel,white,suv,True,False,True,False,False,False,False,124

In [14]:
for column in dataset.columns:
    print(column)
    if dataset[column].dtypes == "object":
        # Quantitative Values
        print(dataset[column].unique())
        print(f'first = {dataset[column].mode().values[0]}')
    else:
        # Qualitative Values
        print(type(dataset[column][0]))
        print(dataset[column].median())
    print()

model_key
['Citroën' 'Peugeot' 'Renault' 'Audi' 'BMW' 'Mercedes' 'Volkswagen'
 'Nissan' 'Mitsubishi' 'SEAT' 'Subaru' 'Toyota']
first = Renault

mileage
<class 'numpy.int64'>
142056.0

engine_power
<class 'numpy.int64'>
120.0

fuel
['diesel' 'petrol']
first = diesel

paint_color
['black' 'brown' 'grey' 'white' 'silver' 'blue']
first = black

car_type
['estate' 'hatchback' 'sedan' 'subcompact' 'suv']
first = estate

private_parking_available
<class 'numpy.bool_'>
1.0

has_gps
<class 'numpy.bool_'>
1.0

has_air_conditioning
<class 'numpy.bool_'>
0.0

automatic_car
<class 'numpy.bool_'>
0.0

has_getaround_connect
<class 'numpy.bool_'>
0.0

has_speed_regulator
<class 'numpy.bool_'>
0.0

winter_tires
<class 'numpy.bool_'>
1.0

rental_price_per_day
<class 'numpy.int64'>
119.0

In [15]:
len(dataset.columns)

14